PORT=3000
MONGO_URI=your_mongo_connection_string
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
JWT_SECRET=
JWT_REFRESH_SECRET=
APP_DOMAIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=